@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 1.5em;
  margin: 0.4em 0;
}

p,
ul,
ol,
li,
span,
div {
  font-size: 17px;
}

a,
a:hover,
a:visited {
  color: inherit;
}

/* Github Ribbon CSS Start*/
.git-repo-ribbon {
  background-color: #a00;
  z-index: 9999;
  opacity: 0.2;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: -50px;
  top: 30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}
.git-repo-ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}
.git-repo-ribbon:hover {
  opacity: 1;
}
/* Github Ribbon CSS End */
